<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
</head>
<body>
    <h1>Welcome to my Home Page.</h1>
    <hr>
    <h2>All Routes:</h2>
    <ul>
        <li>
            <h3>"/smsq/{value1}/{value2}"</h3>
            <p>To sum of two squares.</p>
        </li>
        <li>
            <h3>"/plotter"</h3>
            <p>To plotter</p>
        </li>
    </ul>
</body>
</html>