<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square of Number</title>
</head>
<body>
    <h1><strong>Calculate Square of Number</strong></h1>

    <form method="POST">
        <label for="start">Interval from:*</label>
        <input type="number" id="start" name="start" required>

        <label for="end">to*</label>
        <input type="number" id="end" name="end" required>
        <br>

        <label for="colour">colour -Hex only-</label>
        <input type="str" id="colour" name="colour">

        <br>

        <label>
            <input type="checkbox" name="operation" value="sin"> Sin
        </label><br>
        <label>
            <input type="checkbox" name="operation" value="cos"> Cos
        </label><br>
        <label>
            <input type="checkbox" name="operation" value="tan"> Tan
        </label><br>
        <label>
            <input type="checkbox" name="operation" value="square"> Square
        </label><br>
        <label>
            <input type="checkbox" name="operation" value="sqr"> Square Root
        </label><br>

        <button type="submit">Plot</button>
    </form> 

    {% if result %}
    <div style="width: 200px">
        <img src="static/images/plot.jpeg" alt="Plot result" width="600">
    </div>
    {% endif %}
</body>
</html>