<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square of Number</title>
</head>
<body>
    <h1><strong>Calculate Square of Number</strong></h1>

    <form method="POST">
        <label for="start">Interval Start:</label>
        <input type="number" id="start" name="start" required>

        <label for="end">Interval Finish:</label>
        <input type="number" id="end" name="end" required>

        <label for="operation">Choose operation:</label>
        <select id="operation" name="operation">
            <option value="sin">Sin</option>
            <option value="cos">Cos</option>
            <option value="tan">Tan</option>
            <option value="square">Square</option>
            <option value="sqr">Square Root</option>
        </select>

        <button type="submit">Plot</button>
    </form> 

    {% if result %}
    <div style="width: 200px">
        <img src="static/images/plot.jpeg" alt="Plot result" width="600">
    </div>
    {% endif %}
</body>
</html>